body {
    background-color: #282A3A;
}

input {
    background-color: black;
    color: #624F82;
    width: 50%;
    height:  50px;
    font-size: 25px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 25%;
}

select {
    background-color: black;
    color: #624F82;
    width: 50%;
    height:  50px;
    font-size: 25px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 25%;
}

select:focus {
    border-style: solid;
    border-color: blueviolet;
    border: 1px 1px 1px 1px;
}

button {
    background-color: black;
    color: #624F82;
    width: 50%;
    height:  50px;
    font-size: 25px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;
    margin-left: 25%;
}

button:hover {
    background-color: #1d1f29;
}